html, body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'moon';
  src: url(./assests/fonts/Moon\ Bold.otf);
  font-style: normal;
  font-weight: 100;
}

/* LANDING PAGE */

.landing-page, .register-page {
  background: url(./assests/images/bg-img-temp.png) no-repeat 50% 50%;
  display: table;
  height: 100vh;
  width: 100%;
  background-size: cover;
  font-family: "moon";
  color: white;
}

.landing-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.landing-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* REGISTRATION */

.register {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-align: -webkit-center;
}

.register-box {
  background-color: transparent;
  border: solid white 2px;
  width: 350px;
  height: 350px;
  padding: 15px 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.register-box h1, input {
  font-size: 20px;
  margin: 5px 0;
}

.register-button {
  margin: 25px 0;
  border: solid white 2px;
  background-color: transparent;
  color: white;
  font-size: 12px;
}

/* NAVBAR */

.navbar, .bg-default {
  background-color: #6453A3;
}

/* HOME PAGE */

.home-page {
    padding-top: 65px; 
}

.home-heading {
  text-align: center;
}

.home-heading h1 {
  font-size: 16px;
}

.home-heading h3 {
  font-size: 14px;
}